@using Sample.Wasm.ClientSideModels
@{
    ViewData["Title"] = "Client Side Validation Demo";
}

<div class="row">
    <div class="col">
        <p>
            In this demo the client-side C#WASM subscribes to JQuery <code>on('input',...)</code> event.
            The C# handler updates the form via <code>JQUery.add/removeClass()</code> based on whether the number has a valid check digit.            
        </p>
        <label for="cardInput">Credit Card #</label>
        <input type="text" class="form-control" id="cardInput" value="">
        <div class="valid-feedback">
            Valid Luhn checkdigit.
        </div>
        <div class="invalid-feedback">
            Invalid Luhn checkdigit.
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        globalThis.WasmPageScript = '@( WasmPageScriptEnum.ValidationDemo.ToString() )';
    </script>
}