@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <label for="cardInput">Credit Card #</label>
        <input type="text" class="form-control" id="cardInput" value="">
        <div class="valid-feedback">
            Valid Luhn checkdigit.
        </div>
        <div class="invalid-feedback">
            Invalid Luhn checkdigit.
        </div>
    </div>
</div>
